   <section class="content" id="history">
        <h1 class="title">ENTRY LOG</h1>
        <div style="width: 600px;margin: 0 auto;font-family: Montserrat;">
            <table id="request_hist" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Source</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>
                    <tr>
                        <td>Sadi</td>
                        <td>app</td>
                        <td>15:01 jun 6</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </section>
    <section class="content" id="active_users">
        <h1 class="title">USERS</h1>
        <table class="active_users">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>Sadi</td>
                <td>Family</td>
                <td><span class="opt"><i class="fas fa-times"></i></span>&nbsp; <span class="opt"><i class="far fa-clock"></i></span></td>
            </tr>
            <tr>
                <td>Samia</td>
                <td>Family</td>
                <td><span class="opt"><i class="fas fa-times"></i></span>&nbsp; <span class="opt"><i class="far fa-clock"></i></span></td>
            </tr>
            <tr>
                <td>Jonas</td>
                <td>Guest</td>
                <td><span class="opt"><i class="fas fa-times"></i></span>&nbsp; <span class="opt"><i class="far fa-clock"></i></span></td>
            </tr>
            <tr>
                <td>Linus</td>
                <td>Guest</td>
                <td><span class="opt"><i class="fas fa-times"></i></span>&nbsp; <span class="opt"><i class="far fa-clock"></i></span></td>
            </tr>
            <br>
            <tr>
                <td><input type="text" placeholder="Name"></td>
                <td><select>
                    <option value="family">Family</option>
                    <option value="guest">Guest</option>
                    </select>
                </td>
                <td><button>New User</button></td>
            </tr>
        </table>
    </section>

    <section class="content" id="settings">
        <h1 class="title">KEYS</h1>
        <table class="active_users">
            <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Duration (hours)</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>4545453424554</td>
                <td>Master</td>
                <td>27</td>
                <td><span class="opt"><i class="fas fa-times"></i></span></td>
            </tr>
            <tr>
                <td>4545453424554</td>
                <td>Master</td>
                <td>27</td>
                <td><span class="opt"><i class="fas fa-times"></i></span></td>
            </tr>
            <tr>
                <td>4545453424554</td>
                <td>Guest</td>
                <td>27</td>
                <td><span class="opt"><i class="fas fa-times"></i></span></td>
            </tr>
            <br>
            <tr>
                <td><input type="number" placeholder="Key"></td>
                <td><select>
                    <option value="family" disabled>Master</option>
                    <option value="guest">Guest</option>
                    </select>
                </td>
                <td><input type="number">
                </td>
                <td><button>New Key</button></td>
            </tr>
        </table>
    </section>